<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Rhythm Game - HZ</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <div id="app">
      <div class="control">
        <audio id="audio-element" ref="audioElement" controls>
          <source :src="currentSong" type="audio/mp3" />
        </audio>
        <div id="mode">{{playMode ? "Play Mode" : "Create Mode"}}</div>
        <div id="speed">{{speed}}</div>
        <div>
          <select id="song" v-model="currentSong">
            <option disabled value="">Please select song to play</option>
            <option value="songs/myblood.m4a">My Blood - 21P</option>
            <option value="songs/police.m4a">Karma Police - RH</option>
            <option value="songs/nanana.mp3">NANANA - MCR</option>
          </select>
        </div>
        <div>
          <input v-model="loadFrom" placeholder="enter local saves" />
          <button onclick="loadFromLocal(app.loadFrom)">Load</button>
        </div>
        <button onclick="playGame()">Start</button>
      </div>
    </div>
    <canvas></canvas>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script.js"></script>
  </body>
</html>
