body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: black;
  color: white;
}
canvas {
  background: black;
}

.control {
  position: absolute;
  top: 20px;
  left: 20px;
  opacity: 0.2;
}

.center {
  position: absolute;
  color: white;
  font-family: Arial;
  font-size: 3em;
  opacity: 0.7;
  text-align: center;
  line-height: 80px;
  width: 400px;
  height: 80px;
  top: 70%;
  left: 50%;
  margin-top: -40px;
  margin-left: -200px;
  user-select: none;

  opacity: 0;
  /* transition: opacity 2s ease-in-out; */
}

.hitAnimation {
  animation-name: hitScore;
  animation-duration: 10s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

@keyframes enter {
  from {
    top: 30%;
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

@keyframes hitScore {
  from {
    padding-top: 0;
    opacity: 1;
  }

  1% {
    padding-top: 20px;
    opacity: 1;
  }

  2% {
    padding-top: 0px;
    opacity: 1;
  }

  80% {
    padding-top: 0px;
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
