body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: black;
  color: white;
  font-family: "Raleway";
}

.control {
  position: absolute;
  top: 20px;
  left: 20px;
  opacity: 0.5;
  transition: opacity 2s ease-in-out;
}

.center {
  position: absolute;
  color: white;
  font-family: "Raleway";
  font-size: 3em;
  opacity: 0.7;
  text-align: center;
  line-height: 80px;
  width: 400px;
  height: 80px;
  top: 70%;
  left: 50%;
  margin-top: -40px;
  margin-left: -200px;
  user-select: none;

  opacity: 0;
  /* transition: opacity 2s ease-in-out; */
}

.hitAnimation {
  animation-name: hitScore;
  animation-duration: 10s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

#visualizerBarBG {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  left: 0;
  top: 0;
  z-index: 10;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  opacity: 0.25;
  background-color: midnightblue;
  pointer-events: none;
}

*.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes enter {
  from {
    top: 30%;
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

@keyframes hitScore {
  from {
    padding-top: 0;
    opacity: 1;
  }

  1% {
    padding-top: 20px;
    opacity: 1;
  }

  2% {
    padding-top: 0px;
    opacity: 1;
  }

  80% {
    padding-top: 0px;
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
