#visualizerBG {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  left: 0;
  top: 0;
  z-index: 10;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  opacity: 0.25;
  background-color: midnightblue;
  pointer-events: none;
}

#visualizer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
